#intro {
    position: relative;
}

#intro-text {
    padding-left: 10vw;
    padding-top: 15vw;

}

h1 {
    color: white;
    font-family: 'Caveat';
}

.pink {
    color: #f15bb5;
}

.purple {
    color: #9b5de5;
}

.yellow {
    color: #fee440;
}

.blue {
    color: #00bbf9;
}

.green {
    color: #00F5D4;
}
