// Colors:
$pink: #f15bb5;
$dark-pink: #f72585;

$purple: #9b5de5;
$dark-purple: #7209b7;

$yellow: #fee440;
$dark-yellow: #ffcc00;

$blue: #00bbf9;
$dark-blue: #4361ee;

$green: #00F5D4;
$dark-green: #63ffc8;

$white: white;
$muted-white: #ffffffa7;

$transperent-grey: #2d2b2bc3;
$transperent-black: rgba(21, 20, 20, 0.793);

// Fonts:
$caveat: 'Caveat', cursive;
$lilita: 'Lilita One';


.pink {
    color: #f15bb5;
}

.purple {
    color: #9b5de5;
}

.yellow {
    color: #fee440;
}

.blue {
    color: #00bbf9;
}

.green {
    color: #00F5D4;
}

.white {
    color: white;
}

.muted-white {
    color: #ffffff66;
}

.caveat {
    font-family: 'Caveat';
}

.lilita {
    font-family: 'Lilita One';
}


/* Intro */

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

@mixin typing-div($char, $width, $time) {
    animation: typing $time steps($char, end), step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    width: $width;
}

.intro {
    position: relative;

    // .intro-anim-1 {
    //     @include typing-div(4, 4ch, 0.3, 0);
    // }

    .intro-anim-2 {
        @include typing-div(13, 13ch, 0.91s);
    }

    // .intro-anim-3 {
    //     @include typing-div(27, 27ch, 3s);
    // }

    #intro-text {
        padding-left: 10vw;
        padding-top: 20vh;
        padding-bottom: 30vh;
        width: fit-content;
    }

    .display-1 {
        font-size: 7rem;
    }

    .intro-img-div {
        margin-top: 18vh; //20vh;
        width: fit-content;
        border-radius: 300%;
        border-color: $pink;
        box-shadow: 2px 12px 26px $pink;
        overflow: hidden;

        &:hover {
            box-shadow: 0px 15px 26px $dark-pink;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }

    .intro-img {
        width: 70%; // 73%;
        object-fit: cover;
    }
}

/* NavBar */

@mixin btn($color, $border-color) {
    border-color: $color;

    &:hover {
        color: $color;
        background-color: transparent;
        border-color: $border-color;
        outline: 4px auto $border-color;
    }
}

.navbar {
    .navbar-brand {
        font-family: $caveat;
        font-size: 2rem;
    }

    .navbar-brand:hover {
        color: $dark-pink;
    }

    .nav-item {
        padding-left: 1vw;
        padding-right: 1vw;

        .btn-pink {
            @include btn($pink, $dark-pink);
        }

        .btn-purple {
            @include btn($purple, $dark-purple);
        }

        .btn-yellow {
            @include btn($yellow, $dark-yellow);
        }

        .btn-blue {
            @include btn($blue, $dark-blue);
        }

        .btn-green {
            @include btn($green, $dark-green);
        }
    }
}

/* Experience */

.experience {
    position: relative;
    padding: auto;


    /* Time line */

    .main-timeline {
        position: relative;
    }

    .card {
        width: 30rem;
        color: $white;
        background: $transperent-black;
        overflow: hidden;
        box-shadow: 0px 2px 15px $dark-purple;
        border-radius: 10px;


        &:hover {
            box-shadow: 0px 15px 26px $purple;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }

        .card-img-top {
            width: 100%;
            height: 20vw;
            object-fit: cover;
            border-radius: 10px;
        }

        .date {
            color: $muted-white;
        }
    }

    .main-timeline::after {
        content: "";
        position: absolute;
        width: 3px;
        background-color: $dark-purple;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    /* Container around content */
    .timeline {
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    /* The circles on the timeline */
    .timeline::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -11px;
        background-color: $purple;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .left {
        padding: 0px 40px 20px 77px;
        left: 0;
    }

    .right {
        padding: 0px 0px 20px 40px;
        left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        position: absolute;
        top: 18px;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        content: " ";
        position: absolute;
        top: 18px;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
        left: -14px;
    }
}

/* Skills */

.skills {
    position: relative;
    padding-top: 10vh;

    .row {
        padding-top: 3vh;
    }

    @keyframes logo-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .skill-icon {
        width: 15vh;
        padding: 3vh;
        filter: drop-shadow(0.05vw 0 0.25vw $dark-yellow);
        animation: logo-spin infinite 20s linear;

        &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease-in;
            filter: drop-shadow(0 0 2em $dark-yellow);

        }
    }
}

/* Education */

.education {
    position: relative;
    padding-top: 15vh;

    .row {
        margin: 3vh;
    }

    .col-img {
        margin-left: 2vh;
        margin-right: 2vh;
        margin-top: 11vh;
        height: 30vh;
        border-radius: 20px;
        // background-color: salmon;

        .edu-details {
            color: $white;
        }
    }

    .edu-img {
        height: 90%;
        object-fit: cover;
        border-radius: 20px;
        filter: drop-shadow(0.05vw 0.05vh 0 $white);
    }

    .col-body {

        // background-color: #f15bb5;
        // width: 5vw;
        img {
            width: 3vw;
            padding-right: 0.5vw
        }

    }

    .row-tile {
        padding: 2vh;
        background-color: $transperent-black;
        margin-left: 3vw;
        border-radius: 15px;
        box-shadow: 0px 1px 10px $green;

        &:hover {
            box-shadow: 0px 8px 10px $dark-green;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }


}

/* Projects */

.projects {
    position: relative;
    padding-top: 10vh;

    .card-deck {
        margin-top: 5vh;

        .col-pad {
            margin: 3vh 2vw 3vh 2vw;
        }
    }

    .card {
        background-color: $transperent-black;
        color: $white;
        box-shadow: 0px 2px 15px $dark-pink;
        border-radius: 10px;
        width: 20vw;
        height: 35vh;
        overflow: scroll;
        padding: 1vw;

        .card-text {
            padding-top: 1vh;
            color: $muted-white;
        }

        &:hover {
            box-shadow: 0px 12px 20px $pink;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }
}

/* Contact Me */

.contact-me {
    position: relative;
    padding-top: 15vh;
    padding-bottom: 8vh;

    button {
        border: none;
        background-color: transparent;
        padding: 2vh;
        margin-left: 5vw;

        img {
            width: 5vw;
            filter: drop-shadow(0.05vw 0 0.25vw $blue);

            &:hover {
                transform: scale(1.1);
                transition: all 0.2s ease-in;
                filter: drop-shadow(0.05vw 0 1vw $blue);
            }
        }
    }
}