.pink {
    color: #f15bb5;
}

.purple {
    color: #9b5de5;
}

.yellow {
    color: #fee440;
}

.blue {
    color: #00bbf9;
}

.green {
    color: #00F5D4;
}

.white {
    color: white;
}

.caveat {
    font-family: 'Caveat';
}

/* Intro */

#intro {
    position: relative;
}

#intro-text {
    padding-left: 10vw;
    padding-top: 15vw;
}

.display-1 {
    font-size: 7rem;
}

/* NavBar */

#navbar {
    position: relative;
}
